In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('12882_2021_2474_MOESM1_ESM.csv')

In [3]:

df.dtypes

age        object
bp         object
sg         object
al         object
su         object
rbc        object
pc         object
pcc        object
'race '    object
bgr        object
bu         object
sc         object
sod        object
pot        object
hemo       object
pcv        object
sex        object
rbcc       object
htn        object
dm         object
cad        object
appet      object
pe         object
ane        object
class      object
dtype: object

In [4]:
df.head(10)

,age,bp,sg,al,su,rbc,pc,pcc,'race ',bgr,...,pcv,sex,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,?,normal,notpresent,'not African American',121,...,44,m,5.2,yes,yes,no,good,no,no,stage2
1,7,50,1.02,4,0,?,normal,notpresent,'not African American',?,...,38,m,4.2,no,no,no,good,no,no,stage1
2,62,80,1.01,2,3,normal,normal,notpresent,'not African American',423,...,31,f,5.3,no,yes,no,poor,no,yes,stage3B
3,48,70,1.005,4,0,normal,abnormal,present,'not African American',117,...,32,m,3.9,yes,no,no,poor,yes,yes,stage4
4,51,80,1.01,2,0,normal,normal,notpresent,'not African American',106,...,35,f,4.6,no,no,no,good,no,no,stage3B
5,60,90,1.015,3,0,?,?,notpresent,'not African American',74,...,39,f,4.4,yes,yes,no,good,yes,no,stage3A
6,68,70,1.01,0,0,?,normal,notpresent,'not African American',100,...,36,m,3.4,no,no,no,good,no,no,stage5
7,24,?,1.015,2,4,normal,abnormal,notpresent,'not African American',410,...,44,f,5,no,yes,no,good,yes,no,stage2
8,52,100,1.015,3,0,normal,abnormal,present,'not African American',138,...,33,m,4,yes,yes,no,good,no,yes,stage3B
9,53,90,1.02,2,0,abnormal,abnormal,present,'not African American',70,...,29,f,3.7,yes,yes,no,poor,no,yes,stage5

In [5]:
df.shape

(400, 25)

In [6]:
df.isnull().sum()

age        0
bp         0
sg         0
al         0
su         0
rbc        0
pc         0
pcc        0
'race '    0
bgr        0
bu         0
sc         0
sod        0
pot        0
hemo       0
pcv        0
sex        0
rbcc       0
htn        0
dm         0
cad        0
appet      0
pe         0
ane        0
class      0
dtype: int64

In [7]:
#df_cleaned = df.replace('?', pd.NA)

df_cleaned = df.replace('?', pd.NA)

In [8]:
df_cleaned.head(10)

,age,bp,sg,al,su,rbc,pc,pcc,'race ',bgr,...,pcv,sex,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,<NA>,normal,notpresent,'not African American',121,...,44,m,5.2,yes,yes,no,good,no,no,stage2
1,7,50,1.02,4,0,<NA>,normal,notpresent,'not African American',<NA>,...,38,m,4.2,no,no,no,good,no,no,stage1
2,62,80,1.01,2,3,normal,normal,notpresent,'not African American',423,...,31,f,5.3,no,yes,no,poor,no,yes,stage3B
3,48,70,1.005,4,0,normal,abnormal,present,'not African American',117,...,32,m,3.9,yes,no,no,poor,yes,yes,stage4
4,51,80,1.01,2,0,normal,normal,notpresent,'not African American',106,...,35,f,4.6,no,no,no,good,no,no,stage3B
5,60,90,1.015,3,0,<NA>,<NA>,notpresent,'not African American',74,...,39,f,4.4,yes,yes,no,good,yes,no,stage3A
6,68,70,1.01,0,0,<NA>,normal,notpresent,'not African American',100,...,36,m,3.4,no,no,no,good,no,no,stage5
7,24,<NA>,1.015,2,4,normal,abnormal,notpresent,'not African American',410,...,44,f,5,no,yes,no,good,yes,no,stage2
8,52,100,1.015,3,0,normal,abnormal,present,'not African American',138,...,33,m,4,yes,yes,no,good,no,yes,stage3B
9,53,90,1.02,2,0,abnormal,abnormal,present,'not African American',70,...,29,f,3.7,yes,yes,no,poor,no,yes,stage5

In [9]:
df_cleaned.isnull().sum()

age          9
bp          12
sg          47
al          46
su          49
rbc        152
pc          65
pcc          4
'race '      0
bgr         44
bu          19
sc          17
sod         87
pot         88
hemo        52
pcv         71
sex          1
rbcc       112
htn          2
dm           2
cad          2
appet        1
pe           1
ane          1
class        0
dtype: int64

In [10]:
for i in df.columns:
    print("*****************",i,"*****************")
    print()
    print(set(df[i].tolist()))
    print()

***************** age *****************

{'27', '65', '11', '90', '73', '66', '15', '64', '41', '36', '75', '?', '56', '63', '25', '4', '78', '2', '46', '69', '5', '37', '51', '23', '8', '72', '26', '42', '48', '79', '43', '68', '80', '49', '38', '47', '35', '3', '50', '14', '7', '32', '12', '22', '59', '70', '61', '54', '28', '39', '6', '20', '33', '45', '81', '55', '58', '76', '71', '24', '83', '82', '19', '21', '53', '30', '57', '29', '60', '44', '67', '74', '40', '34', '17', '52', '62'}

***************** bp *****************

{'60', '80', '100', '50', '120', '90', '140', '70', '?', '110', '180'}

***************** sg *****************

{'1.02', '1.005', '1.025', '1.015', '?', '1.01'}

***************** al *****************

{'5', '0', '?', '4', '2', '1', '3'}

***************** su *****************

{'5', '0', '?', '4', '2', '1', '3'}

***************** rbc *****************

{'normal', '?', 'abnormal'}

***************** pc *****************

{'?', 'abnormal', 'normal'}

***************** pcc *****************

{'present', '?', 'notpresent'}

***************** 'race ' *****************

{"'not African American'", "'African american'", "'African American'"}

***************** bgr *****************

{'84', '163', '273', '90', '410', '256', '99', '182', '255', '110', '104', '158', '268', '171', '148', '380', '92', '75', '124', '241', '?', '201', '111', '112', '208', '137', '129', '108', '78', '157', '116', '150', '101', '106', '93', '309', '133', '463', '153', '224', '250', '415', '192', '173', '95', '156', '160', '79', '210', '107', '80', '125', '122', '308', '115', '103', '203', '238', '263', '226', '295', '215', '214', '323', '91', '165', '248', '234', '138', '87', '88', '144', '184', '207', '89', '307', '424', '130', '172', '120', '22', '128', '70', '252', '117', '146', '303', '297', '269', '204', '162', '94', '298', '341', '96', '264', '425', '251', '121', '86', '352', '239', '109', '360', '105', '113', '114', '81', '76', '270', '490', '83', '246', '123', '82', '100', '140', '169', '118', '447', '288', '98', '131', '85', '127', '219', '280', '74', '143', '97', '139', '294', '141', '119', '159', '230', '423', '132', '176', '261', '253', '220', '134', '102', '213', '242', '233'}

***************** bu *****************

{'163', '27', '65', '90', '391', '73', '66', '142', '15', '158', '64', '148', '50.1', '36', '75', '92', '41', '16', '241', '?', '56', '111', '98.6', '25', '217', '208', '137', '191', '46', '150', '106', '93', '309', '133', '153', '37', '51', '164', '23', '72', '18', '26', '42', '95', '48', '79', '223', '68', '107', '80', '125', '49', '103', '38', '115', '202', '47', '35', '215', '165', '50', '87', '88', '31', '145', '32', '89', '180', '1.5', '22', '70', '146', '61', '162', '94', '54', '28', '96', '10', '86', '39', '20', '186', '33', '113', '45', '322', '114', '55', '58', '76', '71', '24', '82', '118', '19', '235', '21', '53', '30', '57', '29', '60', '98', '44', '85', '67', '219', '74', '139', '155', '77', '166', '132', '176', '40', '34', '17', '52'}

***************** sc *****************

{'9.7', '10.2', '15', '1.1', '2.1', '7.5', '2.3', '?', '10.8', '6.7', '2.2', '0.7', '6.4', '4', '2', '16.4', '6.1', '11.8', '0.5', '0.4', '3.4', '11.5', '5.6', '6.3', '8.5', '18', '12.8', '2.8', '13.3', '3.2', '1.9', '1.7', '13.4', '9.6', '13', '12.2', '1.6', '7.3', '15.2', '9.3', '3', '32', '1', '9.2', '12', '14.2', '2.6', '1.5', '1.3', '3.9', '13.8', '16.9', '3.8', '7.1', '5.2', '11.9', '6', '5.9', '3.3', '13.5', '2.5', '6.8', '0.8', '76', '24', '3.25', '1.4', '6.5', '4.3', '7.2', '48.1', '2.4', '4.6', '4.1', '18.1', '0.9', '3.6', '2.7', '1.2', '4.4', '1.8', '0.6', '2.9', '7.7', '5.3'}

***************** sod *****************

{'130', '163', '120', '140', '128', '142', '146', '104', '136', '131', '125', '122', '115', '127', '124', '?', '147', '126', '143', '139', '111', '4.5', '141', '129', '137', '113', '132', '114', '150', '138', '134', '145', '133', '144', '135'}

***************** pot *****************

{'3.5', '6.3', '6.6', '6.5', '4.9', '5.1', '3.9', '3.8', '2.8', '4.3', '3.2', '4.8', '5.5', '5.8', '5.2', '7.6', '?', '47', '4.7', '39', '4.6', '4.1', '4.5', '3.7', '5.7', '5.9', '3.3', '6.4', '4', '3.6', '2.7', '4.4', '5.4', '3', '5', '2.5', '2.9', '4.2', '3.4', '5.3', '5.6'}

***************** hemo *****************

{'9.7', '6.6', '11', '10.2', '15.1', '3.1', '16.5', '9.4', '15', '7.5', '17.4', '16', '?', '9.5', '10.8', '17.1', '14.1', '17.5', '16.4', '7.9', '11.8', '6.1', '16.7', '15.6', '9.1', '10.5', '11.5', '17.3', '5.6', '8', '8.5', '6.3', '9.8', '14.3', '12.8', '13.9', '10.7', '13.3', '13.6', '5.5', '4.8', '13.4', '17.2', '9.6', '5.8', '8.8', '15.4', '13', '16.3', '12.2', '7.3', '15.2', '9.3', '17.8', '13.7', '8.7', '11.3', '15.7', '11.2', '8.1', '14', '10.4', '10.6', '9.2', '12', '10.9', '14.2', '14.4', '11.6', '14.9', '16.1', '14.6', '13.8', '16.9', '7.1', '12.4', '8.3', '11.7', '9.9', '10', '11.9', '6', '13.5', '12.5', '10.1', '11.4', '14.5', '9', '12.9', '15.5', '16.2', '8.6', '12.7', '6.8', '14.7', '12.1', '13.1', '17.7', '8.4', '12.3', '16.6', '15.3', '6.2', '17.6', '7.6', '10.3', '15.8', '8.2', '15.9', '12.6', '11.1', '13.2', '16.8', '17', '7.7', '14.8'}

***************** pcv *****************

{'23', '27', '18', '22', '26', '42', '48', '19', '21', '30', '53', '43', '15', '29', '44', '41', '49', '38', '36', '28', '54', '16', '?', '47', '35', '39', '20', '25', '33', '37', '46', '9', '45', '50', '40', '31', '34', '51', '14', '17', '24', '52', '32'}

***************** sex *****************

{'m', "'m '", '?', 'f'}

***************** rbcc *****************

{'8', '3.5', '6.3', '2.6', '6.5', '4.9', '5.1', '3.9', '3.8', '2.8', '3.1', '4.3', '3.2', '4.8', '5.5', '2.1', '5.8', '5.2', '2.3', '6.2', '?', '2.4', '4.7', '4.6', '4.1', '4.5', '3.7', '6', '5.7', '3.3', '5.9', '3.6', '4', '2.7', '6.4', '6.1', '4.4', '5.4', '3', '5', '2.5', '2.9', '4.2', '3.4', '5.3', '5.6'}

***************** htn *****************

{'no', '?', 'yes'}

***************** dm *****************

{'no', '?', 'yes'}

***************** cad *****************

{'no', '?', 'yes'}

***************** appet *****************

{'good', '?', 'poor'}

***************** pe *****************

{'no', '?', 'yes'}

***************** ane *****************

{'no', '?', 'yes'}

***************** class *****************

{"'not ckd'", 'stage3B', 'stage5', 'stage1', 'stage2', 'stage4', 'stage3A'}

In [11]:
df=df_cleaned

In [12]:
df.dtypes

age        object
bp         object
sg         object
al         object
su         object
rbc        object
pc         object
pcc        object
'race '    object
bgr        object
bu         object
sc         object
sod        object
pot        object
hemo       object
pcv        object
sex        object
rbcc       object
htn        object
dm         object
cad        object
appet      object
pe         object
ane        object
class      object
dtype: object

In [13]:
df.dtypes

age        object
bp         object
sg         object
al         object
su         object
rbc        object
pc         object
pcc        object
'race '    object
bgr        object
bu         object
sc         object
sod        object
pot        object
hemo       object
pcv        object
sex        object
rbcc       object
htn        object
dm         object
cad        object
appet      object
pe         object
ane        object
class      object
dtype: object

In [14]:
df['bp'][0].isnumeric()

True

In [15]:
# Missing value fill up for numerical value
for column in df.columns:
     if df[column].dtype == np.float64:
        column_mean=df[column].mean()
        df[column]=df[column].fillna(column_mean)

In [16]:
#Missing value fill up for nominal value

for column in df.columns:
     if df[column].dtype != np.float64:
        column_mode=df[column].mode()[0]
        df[column]=df[column].fillna(column_mode)

In [17]:
#df.hea
df['age'][0].isnumeric()

True

In [18]:
for i in df.columns:
    if df[i][0].isnumeric():
        df[i]=df[i].astype(float)

In [19]:
df['bgr'].dtypes

dtype('float64')

In [20]:
df["'race '"]

0      'not African American'
1      'not African American'
2      'not African American'
3      'not African American'
4      'not African American'
                ...
395    'not African American'
396    'not African American'
397    'not African American'
398    'not African American'
399    'not African American'
Name: 'race ', Length: 400, dtype: object

In [21]:
df['sex'] = df['sex'].replace(to_replace={"'m '":'m'})
df["'race '"]=df["'race '"].replace(to_replace={"'African american'":"'African American'"})

In [22]:
df.head(15)

,age,bp,sg,al,su,rbc,pc,pcc,'race ',bgr,...,pcv,sex,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.02,1.0,0.0,normal,normal,notpresent,'not African American',121.0,...,44.0,m,5.2,yes,yes,no,good,no,no,stage2
1,7.0,50.0,1.02,4.0,0.0,normal,normal,notpresent,'not African American',99.0,...,38.0,m,4.2,no,no,no,good,no,no,stage1
2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,'not African American',423.0,...,31.0,f,5.3,no,yes,no,poor,no,yes,stage3B
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,'not African American',117.0,...,32.0,m,3.9,yes,no,no,poor,yes,yes,stage4
4,51.0,80.0,1.01,2.0,0.0,normal,normal,notpresent,'not African American',106.0,...,35.0,f,4.6,no,no,no,good,no,no,stage3B
5,60.0,90.0,1.015,3.0,0.0,normal,normal,notpresent,'not African American',74.0,...,39.0,f,4.4,yes,yes,no,good,yes,no,stage3A
6,68.0,70.0,1.01,0.0,0.0,normal,normal,notpresent,'not African American',100.0,...,36.0,m,3.4,no,no,no,good,no,no,stage5
7,24.0,80.0,1.015,2.0,4.0,normal,abnormal,notpresent,'not African American',410.0,...,44.0,f,5,no,yes,no,good,yes,no,stage2
8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,'not African American',138.0,...,33.0,m,4,yes,yes,no,good,no,yes,stage3B
9,53.0,90.0,1.02,2.0,0.0,abnormal,abnormal,present,'not African American',70.0,...,29.0,f,3.7,yes,yes,no,poor,no,yes,stage5
10,50.0,60.0,1.01,2.0,4.0,normal,abnormal,present,'not African American',490.0,...,28.0,m,5.2,yes,yes,no,good,no,yes,stage4
11,63.0,70.0,1.01,3.0,0.0,abnormal,abnormal,present,'not African American',380.0,...,32.0,f,3.8,yes,yes,no,poor,yes,no,stage4
12,68.0,70.0,1.015,3.0,1.0,normal,normal,present,'not African American',208.0,...,28.0,m,3.4,yes,yes,yes,poor,yes,no,stage3B
13,68.0,70.0,1.02,0.0,0.0,normal,normal,notpresent,'not African American',98.0,...,41.0,m,3.6,yes,yes,yes,poor,yes,no,stage5
14,68.0,80.0,1.01,3.0,2.0,normal,abnormal,present,'not African American',157.0,...,16.0,m,2.6,yes,yes,yes,poor,yes,no,stage5

In [23]:
df.isnull().sum()

age        0
bp         0
sg         0
al         0
su         0
rbc        0
pc         0
pcc        0
'race '    0
bgr        0
bu         0
sc         0
sod        0
pot        0
hemo       0
pcv        0
sex        0
rbcc       0
htn        0
dm         0
cad        0
appet      0
pe         0
ane        0
class      0
dtype: int64

# Check Duplication

In [24]:
duplicates = df[df.duplicated()]

In [25]:
duplicates

Empty DataFrame
Columns: [age, bp, sg, al, su, rbc, pc, pcc, 'race ', bgr, bu, sc, sod, pot, hemo, pcv, sex, rbcc, htn, dm, cad, appet, pe, ane, class]
Index: []

[0 rows x 25 columns]

In [26]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [27]:
for column in df.columns:
    if  df[column].dtypes==np.float64:
        continue
    df[column]=label.fit_transform(df[column])

In [28]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,'race ',bgr,...,pcv,sex,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,3,1.0,0.0,1,1,0,1,121.0,...,44.0,1,30,1,1,0,0,0,0,2
1,7.0,50.0,3,4.0,0.0,1,1,0,1,99.0,...,38.0,1,20,0,0,0,0,0,0,1
2,62.0,80.0,1,2.0,3.0,1,1,0,1,423.0,...,31.0,0,31,0,1,0,1,0,1,4
3,48.0,70.0,0,4.0,0.0,1,0,1,1,117.0,...,32.0,1,17,1,0,0,1,1,1,5
4,51.0,80.0,1,2.0,0.0,1,1,0,1,106.0,...,35.0,0,24,0,0,0,0,0,0,4

In [29]:
unique_classes = df['class'].unique()

In [30]:
unique_classes

array([2, 1, 4, 5, 3, 6, 0])

In [31]:
for i in df.columns:
    print("*****************",i,"*****************")
    print()
    print(set(df[i].tolist()))
    print()

***************** age *****************

{2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 11.0, 12.0, 14.0, 15.0, 17.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 90.0}

***************** bp *****************

{100.0, 70.0, 140.0, 110.0, 80.0, 50.0, 180.0, 120.0, 90.0, 60.0}

***************** sg *****************

{0, 1, 2, 3, 4}

***************** al *****************

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0}

***************** su *****************

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0}

***************** rbc *****************

{0, 1}

***************** pc *****************

{0, 1}

***************** pcc *****************

{0, 1}

***************** 'race ' *****************

{0, 1}

***************** bgr *****************

{22.0, 70.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 137.0, 138.0, 139.0, 140.0, 141.0, 143.0, 144.0, 146.0, 148.0, 150.0, 153.0, 156.0, 157.0, 158.0, 159.0, 160.0, 162.0, 163.0, 165.0, 169.0, 171.0, 172.0, 173.0, 176.0, 182.0, 184.0, 192.0, 201.0, 203.0, 204.0, 207.0, 208.0, 210.0, 213.0, 214.0, 215.0, 219.0, 220.0, 224.0, 226.0, 230.0, 233.0, 234.0, 238.0, 239.0, 241.0, 242.0, 246.0, 248.0, 250.0, 251.0, 252.0, 253.0, 255.0, 256.0, 261.0, 263.0, 264.0, 268.0, 269.0, 270.0, 273.0, 280.0, 288.0, 294.0, 295.0, 297.0, 298.0, 303.0, 307.0, 308.0, 309.0, 323.0, 341.0, 352.0, 360.0, 380.0, 410.0, 415.0, 423.0, 424.0, 425.0, 447.0, 463.0, 490.0}

***************** bu *****************

{1.5, 10.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 50.1, 58.0, 57.0, 60.0, 61.0, 64.0, 65.0, 66.0, 67.0, 68.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 79.0, 80.0, 82.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 98.6, 103.0, 106.0, 107.0, 111.0, 113.0, 114.0, 115.0, 118.0, 125.0, 132.0, 133.0, 137.0, 139.0, 142.0, 145.0, 146.0, 148.0, 150.0, 153.0, 155.0, 158.0, 162.0, 163.0, 164.0, 165.0, 166.0, 176.0, 180.0, 186.0, 191.0, 202.0, 208.0, 215.0, 217.0, 219.0, 223.0, 235.0, 241.0, 309.0, 322.0, 391.0}

***************** sc *****************

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83}

***************** sod *****************

{128.0, 129.0, 130.0, 131.0, 4.5, 132.0, 133.0, 135.0, 136.0, 134.0, 138.0, 139.0, 140.0, 141.0, 142.0, 137.0, 143.0, 145.0, 146.0, 147.0, 144.0, 150.0, 163.0, 104.0, 111.0, 113.0, 114.0, 115.0, 120.0, 122.0, 124.0, 125.0, 126.0, 127.0}

***************** pot *****************

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39}

***************** hemo *****************

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114}

***************** pcv *****************

{9.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0}

***************** sex *****************

{0, 1}

***************** rbcc *****************

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44}

***************** htn *****************

{0, 1}

***************** dm *****************

{0, 1}

***************** cad *****************

{0, 1}

***************** appet *****************

{0, 1}

***************** pe *****************

{0, 1}

***************** ane *****************

{0, 1}

***************** class *****************

{0, 1, 2, 3, 4, 5, 6}

# Multiple Linear Regression

In [32]:
x=df.drop(['class'],axis=1)

In [33]:
y=df['class']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.25,random_state=0)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
regressor=LinearRegression()

In [38]:
regressor.fit(xtrain,ytrain)

LinearRegression()

In [39]:
ytest

132    6
309    0
341    0
196    6
246    6
      ..
146    2
135    3
390    0
264    0
364    0
Name: class, Length: 100, dtype: int32

In [40]:
pred=regressor.predict(xtest)

In [41]:
pred

array([ 3.82273363,  0.75861453,  0.52035855,  6.37605214,  4.3041952 ,
        2.37368046,  2.70973404,  1.23933595,  6.6381165 ,  2.6338926 ,
        5.00250936,  4.04506529,  3.34911842,  1.04027838,  3.87087946,
        5.83208959,  0.3940715 ,  1.93599651,  5.22131869,  1.5733479 ,
        3.06344659,  0.47681122,  3.9455821 ,  1.26542091,  4.00723378,
        0.31212525,  4.71742664,  7.0634687 ,  0.61107492,  2.69333809,
        4.38099391,  0.74471795,  0.84903793,  7.51401246,  1.74080746,
        8.72888785,  5.04091739,  5.44529594,  3.81871124,  0.59800843,
        2.74696669,  0.84104777,  4.17224702,  1.7301188 ,  0.37235975,
        4.6790764 ,  1.23677593,  0.60869364,  3.73564904,  2.22141419,
        1.70047961,  5.10738704,  1.23828147,  4.23811938,  0.41585499,
        0.30495539,  4.19677511,  6.19988181,  5.0839896 ,  5.58209627,
        6.09466797,  0.47358122,  3.17046196,  0.13730857,  7.66661654,
       -0.45353994,  7.09492862,  3.53840639,  7.17731264,  0.76548764,
        3.28634123,  1.1274495 ,  4.56107423,  6.89982877,  5.29103627,
        5.80301691,  0.6203719 ,  0.55614551,  0.49210545,  0.21090037,
        0.93509765,  1.98245269,  3.76536655,  6.56292336,  0.67749427,
        5.07520033,  3.0481522 ,  0.70328716,  0.38542196,  1.44205891,
        0.56277545,  0.58514468,  7.79915794,  3.81169388,  3.34791582,
        3.81378925,  3.10802836,  0.36040836,  0.57657982,  0.58550463])

In [42]:
regressor.score(xtest,ytest)

0.7752720406685656